spotipy
requests
pandas
matplotlib
seaborn
numpy
sklearn
imblearn
flask
dash
dash_bootstrap_components
dash_core_components
dash_html_components
chart_studio
flask_sqlalchemy
sqlalchemy
jupyter
pyyaml
urllib3